.navbar {
    background-color: black;
}
.nav-link {
    color: white !important;
}
.nav-link:focus {
    color: white !important;
    font-weight: bold;
}
.div_video{
    background-image: url(../media/images/fondo_de_video.png);
    background-repeat: no-repeat;
    background-size: 80% 335px;
    background-position-x: right;
    margin-top: 55px;
    transform: translateX(20px);
}
.centered-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    
    position: relative;
    width: 100%;
    height: 42vh; /* Ajusta la altura según tus necesidades */
    background-image: url("../media/images/Panoramica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Agregamos esta propiedad para que la imagen se quede estática de fondo y la pagina la recorra*/
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    animation: fade-in 2s ease-in-out forwards;
}

.background-image-2 {
    
    position: relative;
    width: 100%;
    height: 42vh; /* Ajusta la altura según tus necesidades */
    background-image: url("../media/images/caldas_noche.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Agregamos esta propiedad para que la imagen se quede estática de fondo y la pagina la recorra*/
}

.background-image-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    animation: fade-in 2s ease-in-out forwards;
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Cambia el color de las flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    border: 1px solid blue;
    background-color: blue;
}

/* Cambia el color del contorno de las flechas del carrusel */
.carousel-control-prev,
.carousel-control-next {
    color: rgba(55, 52, 53, 0.3)
}
.titulo-servicios{
    background-image: url("../media/images/barra_titulo_servicios.png");
    position: relative;
    width: 80%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.full-width-container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 100%;
}
@media (max-width: 768px) {
    #video-youtube{
        width: 90%;
        height: auto;
        white-space: pre-wrap;
        margin-left: 5%;
        margin-top: 20px;
    }
    .row-youtube{
        display: block;
        align-items: center;
    }
    .div_video {
        margin-top: 0px;
        background-position-x: center;
        background-size: 80% 150px;
        transform: none;
        text-align: center;
    }
    .background-image2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo-home{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menulinks{
        margin-top: 40px;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .separador-links{
        display: none;
    }
}
.nav-link:hover {
    color: white !important;
    font-weight: bold;
}
body {
    background: linear-gradient(to right, #d2d3d5, #ffffff) left,
                linear-gradient(to right, #ffffff, #ffffff) center,
                linear-gradient(to right, #ffffff, #d2d3d5) right;
    background-size: 15%, 70%, 15%;
    background-repeat: no-repeat;
}

.container {
    position: relative;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

video#background-video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
