
   /* Estilos para la barra de navegación */
   .navbar {
    background-color: transparent;
}

@media (max-width: 767px) {
    .navbar-nav {
        background-color: #343a40;
    }
   
}

.navbar-nav {
    margin-left: auto;
}
.navbar-nav .nav-item{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  
}
.navbar-nav .nav-item .nav-link {
  background-color: white;
    color: black;
    font-size: 22px;
    width: 150px;
    height: 80px;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
    color: #f47400;
    font-weight: bold;
}
